.img-circle {
    max-height: 50px;
}

.readMessage {
    background-color: rgba(220, 220, 220, 0.273);
}

.bold1 {
    font-weight: 400;
}

.customFont {
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Sora', sans-serif;
}

.allSelected {
    border: 2px solid rgb(255, 255, 255);
}

.fa-custom {
    font-size: 1.2em;
}

.form-check-input:checked {
    background-color: #000000;
    border-color: #000000;
}

.btn-custom {
    background-color: rgb(221, 221, 221);
}

.btn-custom:not(:disabled):not(.disabled).active, .btn-custom:not(:disabled):not(.disabled):active, .show>.btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #0080ff;
    border-color: #0080ff;
}

.btn-custom:focus {
    outline: none;
    box-shadow: none;
  }