.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;

}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.customFont {
    /* font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Sora', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
