.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}

.bg-primary1 {
    --bs-bg-opacity: 1;
    /* background-color: rgb(98, 202, 84) !important; */
    background-color: rgb(42, 214, 162) !important;
}

.active {
    border-bottom: 2.5px solid white;
    font-size: 16.5px;
}

.customFont {
    /* font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Sora', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
