<div class="card customFont">
    <div class="card-body" #scrollMe style="overflow: scroll; height: 535px; width: 85%;"
        [scrollTop]="scrollMe.scrollHeight">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet...say hi by using the message box below
        </div>

        <ul *ngIf="(messageService.messageThread$ | async)?.length > 0" class="chat">
            <li style="border-bottom: 0px solid rgb(214, 214, 214);"
                *ngFor="let message of (messageService.messageThread$ | async)">
                <div [class.isUser]="currentUser.knownAs === (message.senderUsername | titlecase)"
                    [class.isUser2]="currentUser.knownAs !== (message.senderUsername | titlecase)">
                    <span style="margin-right: 15px; margin-top: 5px" class="chat-img float-right">
                        <img src="{{message.senderPhotoUrl || './assets/user.png'}}" alt="{{message.senderUsername}}"
                            class="rounded-circle">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small style="margin-left: 10px;" class="customFont">
                                <span class="fa fa-clock-o"> {{message.messageSent | timeago}}</span>
                                <span class="" *ngIf="!message.dateRead 
                                && message.senderUsername !== username">
                                    (unread)
                                </span>
                                <span class="" *ngIf="message.dateRead 
                                && message.senderUsername !== username">
                                    (read {{message.dateRead | timeago}})
                                </span>
                            </small>
                        </div>
                        <p style="margin-left: 10px;">{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="width: 85%;" class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input name="messageContent" required [(ngModel)]="messageContent" type="text"
                    class="form-control input-sm" placeholder="Send a private message">
                <div class="input-group-append">
                    <button style="background-color: rgb(0, 184, 0); border: 1px solid rgb(0, 184, 0);"
                        [disabled]="!messageForm.valid || loading" class="btn btn-primary" type="submit">Send
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>